<style>
  .form-container {
    margin-left: 20%;
  }
</style>

<div class="container">
  <div>
    <h2>Modifier une Avion :</h2>
  </div>
</div>
<form>
  <div class="col-sm-2 col-md-2 col-lg-2">
    <label>ID Avion</label>
    <input
      readonly
      type="text"
      [(ngModel)]="currentAvion.idAvion"
      name="idAvion"
      class="form-control"
    />
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Matricule Avion</label>
    <input
      type="text"
      [(ngModel)]="currentAvion.matriculeAvion"
      name="matriculeAvion"
      class="form-control"
    />
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2">
    <label>Kilometrage Avion</label>
    <input
      type="number"
      [(ngModel)]="currentAvion.celometrageAvion"
      name="celometrageAvion"
      class="form-control"
    />
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Date fabrication</label>
    <input
      type="date"
      [ngModel]="currentAvion.dateFabrication | date : 'yyyy-MM-dd'"
      (ngModelChange)="currentAvion.dateFabrication = $event"
      name="dateFabrication"
      class="form-control"
    />
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Type</label>

    <select
      class="form-control form-control-lg"
      id="idAv"
      name="idAv"
      [(ngModel)]="updatedTypId"
    >
      <option *ngFor="let typ of types" [value]="typ.idAv">
        {{ typ.matriculeAv }}
      </option>
    </select>
  </div>

  <div class="col-sm-16 col-md-16 col-lg-16">
    <label class="mb-2">Image :</label>
    <input type="file" (change)="onImageUpload($event)" class="form-control" />
  </div>

  <div class="mt-2">
    <button type="submit" (click)="onAddImageAvion()" class="btn btn-success">
      Ajouter Image
    </button>
  </div>

  <div class="col-sm-16 col-md-16 col-lg-16">
    <img
      [src]="myImage"
      class="card-img-top img-fluid rounded-start"
      style="width: 500px; height: 300px"
    />
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Images</th>
          </tr>
        </thead>

        <tbody *ngFor="let img of currentAvion.images">
          <tr>
            <td>
              <img
                class="card-img-top img-responsive"
                src="{{ 'data:' + img.type + ';base64,' + img.image }}"
                style="height: 50px; width: 100px"
              />
            </td>
            <td style="width: 20%">
              <a class="btn btn-danger" (click)="supprimerImage(img)"
                >Supprimer</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-2">
    <button type="submit" (click)="updateAvion()" class="btn btn-success">
      Modifier
    </button>
  </div>
</form>